.section-dark {
  background-color: #242424;
  height: 75vh;
  color: #fff;
}

.long {
  height: 200%;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.heading-container > p {
  /* color: #fff; */
  font-size: 45px;
  text-align: center;
  margin: 30px 0 30px;
}

.text-large {
  font-size: ;
}